# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# Flask/Migrations
instance/
migrations/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log 
scripts/cleanup_customers.py
